fastapi
uvicorn
python-jose
passlib
bcrypt==4.0.1
python-multipart
sqlalchemy
psycopg2-binary
chromadb
langchain
langgraph
langchain-groq
python-dotenv
google-generativeai
ollama
reportlab
waitress
pydantic-settings